<p id="notice"><%= notice %></p>

<h1>Listing Todos</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Check</th>
        <th>Time Remaining</th>
        <th>Todo Item</th>
        <th>Created By</th>
        <th>Email</th>
        <th colspan="4"></th>
      </tr>
      </thead>
      <tbody>
      <% @todos.each do |todo| %>
          <tr>
            <td><%= link_to "", todo, method: :delete, class: 'glyphicon glyphicon-ok' %></td>
            <td><%= todo.days_left %> days</td>
            <td><%= todo.name %></td>
            <td><%= todo.user.name %></td>
            <td><%= todo.user.email %></td>
            <td><%= link_to 'Show', todo, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-mini btn-success' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'New Todo', new_todo_path, class: 'btn btn-primary' %>
